<% provide(:title, "About") %>



<div class="header">
    <h1 class="title"><div class="bar"></div>ABOUT</h1>
    <h2 class="headerMessage"><%= random_fact() %></h2>
</div>
<div class="body">
    <div class="column two">
        <h3>What is 'Benchmark Your Bet'?</h3>
        <p>Benchmark Your Bet is a free web application for betting enthusiasts. It aims to help you make a more informed decision on what to bet for.</p>
    </div>
    <div class="column two">
        <h3>How does it work?</h3>
        <p>By harnessing the power of crowdsource and using the wisdom of the crowd - you simply need to add your vote to the database, then you can use the rest of the userbase's opinion to greatly improve your decision, rather than assuming the odds!</p>
    </div>
    <div class="column two">
        <h3>I have questions!</h3>
        <p>I'd love to hear your thoughts, feedback or even requests! Please email me <a class="linkWhite" href="mailto:hi@arthurrigley.com">here</a>.</p>
        <p>If you have a request for a question, <a class="linkWhite" href="mailto:hi@arthurrigley.com?subject=Question Request">detail the fixture in an email</a> and I will confirm and push it to the application.</p>
    </div>
    <div class="column two">
        <h3>Devs</h3>
        <p>This is my first application with using Ruby on Rails!</p>
    </div>
</div>
