<% provide(:title, "About") %>



<div class="header">
    <h1 class="title"><div class="bar"></div>ABOUT</h1>
    <h2 class="headerMessage"><%= random_fact() %></h2>
</div>

<p><a href="mailto:hi@arthurrigley.com">Get In Touch</a></p>
