<% provide(:title, "Welcome") %>

<div class="header">
    <h1 class="title"><div class="bar"></div>WELCOME</h1>
    <h2 class="headerMessage"><%= random_fact() %></h2>
</div>
<div class="body">
    
</div>