@font-face {
    font-family: 'montserratbold';
    src: asset-url('montserrat-bold-webfont.eot');
    src: asset-url('montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('montserrat-bold-webfont.woff2') format('woff2'),
         asset-url('montserrat-bold-webfont.woff') format('woff'),
         asset-url('montserrat-bold-webfont.ttf') format('truetype'),
         asset-url('montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratlight';
    src: asset-url('montserrat-light-webfont.eot');
    src: asset-url('montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('montserrat-light-webfont.woff2') format('woff2'),
         asset-url('montserrat-light-webfont.woff') format('woff'),
         asset-url('montserrat-light-webfont.ttf') format('truetype'),
         asset-url('montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}