/* COLOURS */
/* FONTS */
/* MISC */
/*

    CSS BY ARTHUR RIGLEY
    OWNER, CREATOR AND DEVELOPER OF BENCHMARK YOUR BET

    1.0 STRUCTURE
    2.0 TEXT
    3.0 MISC

*/
/* 1.0 STRUCTURE */
/* line 46, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
html, body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 13px;
  height: 100%; }

/* line 55, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
#left {
  position: fixed;
  background-color: #4d2128;
  color: #ffffff;
  width: 23%;
  padding: 1%;
  height: 98%; }
  /* line 63, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #left img {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: auto;
    margin-bottom: 40px; }
  /* line 70, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #left #user-greeting {
    text-align: center; }
    /* line 73, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    #left #user-greeting .signButton {
      float: left;
      width: 44%;
      margin: 0 3%;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s; }
      /* line 81, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      #left #user-greeting .signButton a {
        display: block;
        padding: 10px 0;
        color: #ffffff;
        border: 2px solid #ffffff; }
        /* line 87, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
        #left #user-greeting .signButton a:hover {
          color: #74ae5c;
          border-color: #74ae5c; }
  /* line 94, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #left .nav {
    float: left;
    font-size: 0;
    width: 100%;
    padding: 15px 0;
    margin: 30px 0 0;
    text-align: center;
    border-top: 4px solid #98353f;
    border-bottom: 4px solid #98353f; }
    /* line 104, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    #left .nav li {
      width: 90%;
      float: left;
      font-weight: 300;
      list-style: none;
      display: block;
      font-size: 13px;
      border-bottom: 1px solid #98353f;
      padding: 0 4%;
      text-align: left;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s; }
      /* line 118, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      #left .nav li:hover {
        padding: 0 5%; }
        /* line 121, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
        #left .nav li:hover a {
          color: #74ae5c; }
        /* line 124, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
        #left .nav li:hover i {
          color: #74ae5c; }
      /* line 129, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      #left .nav li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #ffffff; }
      /* line 135, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      #left .nav li i {
        float: left;
        margin-top: 10px;
        margin-right: 20px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s; }
      /* line 143, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      #left .nav li:last-child {
        border-bottom: none; }

/* line 149, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.header {
  float: left;
  width: 90%;
  padding: 20px 5% 0;
  border-bottom: 1px solid #98353f; }
  /* line 155, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .header .title {
    position: relative;
    float: left;
    width: 35%; }
  /* line 160, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .header .qTitle {
    position: relative;
    float: left;
    width: 100%; }
  /* line 165, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .header .bar {
    position: absolute;
    top: 0;
    left: 20px;
    width: 150px;
    height: 4px;
    background-color: #98353f; }
  /* line 173, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .header .headerMessage {
    float: left;
    width: 65%;
    padding-top: 20px; }

/* line 179, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.body {
  float: left;
  width: 100%;
  padding: 20px 0 40px; }
  /* line 184, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .body .row {
    float: left;
    width: 100%; }
  /* line 189, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .body .question {
    position: relative;
    float: left;
    width: 25.33%;
    min-height: 200px;
    padding: 2%;
    margin: 2%;
    background-color: #612e33;
    border-top: 3px solid #98353f;
    text-align: center; }
    /* line 200, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    .body .question h3, .body .question p {
      color: #ffffff;
      text-align: center; }
    /* line 207, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    .body .question .questionText {
      padding: 15px 0;
      margin: 15px 0;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff; }
  /* line 215, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .body .hasVoted p {
    width: 90%;
    padding: 20px 5%;
    text-align: center;
    margin-bottom: 20px; }
  /* line 221, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .body .hasVoted .noVote {
    background-color: #98353f;
    color: #ffffff; }
  /* line 225, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .body .hasVoted .yesVote {
    background-color: #74ae5c;
    color: #ffffff; }
  /* line 230, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .body #options-wrapper {
    float: left;
    width: 50%; }
    /* line 234, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    .body #options-wrapper .option {
      position: relative;
      float: left;
      width: 92%;
      padding: 4%;
      margin-bottom: 20px;
      background-color: #4d2128; }
      /* line 242, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      .body #options-wrapper .option .optionText {
        float: left;
        width: 80%;
        color: #ffffff;
        margin-top: 0; }
      /* line 248, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      .body #options-wrapper .option .optionCount {
        float: right;
        color: #ffffff;
        width: 20%;
        margin-top: 0; }
      /* line 255, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      .body #options-wrapper .option .votedFor {
        float: left;
        width: 100%;
        padding: 10px 0;
        background-color: #74ae5c;
        color: #ffffff;
        text-align: center; }
  /* line 269, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .body #options-info-wrapper {
    float: right;
    width: 50%; }

/* line 276, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.voteNow {
  float: left;
  width: 100%;
  padding: 10px 0;
  background-color: #74ae5c;
  color: #ffffff;
  text-align: center; }
  /* line 284, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .voteNow:hover {
    background-color: #315331;
    color: #ffffff; }

/* line 289, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.voteTimerBar {
  float: left;
  width: 100%;
  background: #74ae5c;
  margin-top: 10px; }
  /* line 294, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .voteTimerBar p {
    margin: 0; }
  /* line 298, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .voteTimerBar .voteTimer {
    float: left;
    width: 94%;
    padding: 0 3%;
    font-size: 26px;
    text-align: right;
    font-weight: 700;
    color: white; }

/* line 308, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
#content {
  float: right;
  height: auto;
  width: 71%;
  padding: 0 2%; }

/* line 314, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.column {
  float: left;
  margin-bottom: 20px; }

/* line 318, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.one {
  width: 60%;
  padding: 20px 10%;
  margin: 0 10%; }

/* line 323, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.two {
  width: 42%;
  padding: 20px 2%;
  margin: 2%; }

/* line 328, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.profileSettings {
  float: left;
  width: 100%; }

/* line 332, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
#alerts-wrapper {
  width: 110%;
  margin-left: -5%;
  text-align: center; }
  /* line 337, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #alerts-wrapper .notice {
    width: 100%;
    background-color: #74ae5c;
    color: #ffffff; }
  /* line 342, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #alerts-wrapper .alert {
    width: 100%;
    background-color: #98353f;
    color: #ffffff; }

/* line 348, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.redButton {
  float: left;
  width: 80%;
  font-size: 16px;
  border: 2px solid #98353f;
  margin: 30px 5% 0;
  padding: 5px 5%;
  color: #98353f !important; }
  /* line 357, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .redButton:hover {
    background-color: #98353f;
    color: #ffffff !important; }

/* line 362, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.greenButton {
  float: left;
  width: 80%;
  margin: 30px 10%;
  padding: 10px 0;
  font-size: 16px;
  background-color: #ffffff;
  border: 2px solid #74ae5c;
  color: #74ae5c;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s; }
  /* line 375, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .greenButton:hover {
    background-color: #74ae5c;
    color: #ffffff; }

/* line 380, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.field {
  margin-top: 25px;
  text-align: center; }
  /* line 384, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .field input, .field textarea {
    background-color: #ffffff;
    color: #98353f;
    text-align: center;
    width: 70%;
    padding: 10px 5%;
    border: 2px solid #e9ded7;
    cursor: pointer;
    outline: none;
    margin-top: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s; }
    /* line 398, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    .field input:hover, .field textarea:hover {
      border-color: #74ae5c;
      color: #74ae5c; }
    /* line 402, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    .field input:focus, .field textarea:focus {
      border-color: #74ae5c;
      color: #74ae5c; }
  /* line 407, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .field input[type='checkbox'] {
    width: 10px !important; }

/* 2.0 TEXT */
/* line 415, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
h1 {
  padding-top: 20px;
  font-size: 42px;
  font: "Montserrat";
  font-weight: 700; }

/* line 421, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
h2 {
  font-size: 16px;
  font: "Montserrat";
  font-weight: 300;
  line-height: 1.5; }

/* line 427, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
h3 {
  font-size: 20px;
  font: "Montserrat";
  font-weight: 700;
  text-align: center; }

/* line 433, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5; }

/* line 438, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
a {
  color: white;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  text-decoration: none; }
  /* line 445, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  a:visited {
    color: white; }
  /* line 449, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  a:hover {
    color: #74ae5c; }

/* 3.0 MISC */
/* line 455, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.linkWhite {
  color: #98353f !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s; }
  /* line 461, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .linkWhite:hover {
    color: #74ae5c !important; }

/* line 465, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.textCenter {
  text-align: center; }

/* line 468, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.vaM {
  vertical-align: middle; }

/* line 473, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px; }

/* line 478, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green; }

/* line 482, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inherit; }

/* line 488, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  /* line 495, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  /* line 506, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }

/* line 513, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
#admin-panel {
  float: left;
  width: 90%;
  background: #00acd0;
  padding: 10px 5%;
  margin: 50px 0;
  clear: both; }
  /* line 521, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #admin-panel a {
    color: white; }

/* line 526, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.adminButtons {
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  padding: 5px 0;
  background-color: #00acd0;
  text-align: center; }

/*# sourceMappingURL=scaffolds.css.map */