/* COLOURS */

// Dark Neutral
$darkGrey: #211e1f;
$black: #040707;

// Light Neutral
$lightGrey: #e9ded7;
$white: #ffffff;

// Reds
$redDark: #4d2128;
$redMid: #612e33;
$redLight: #98353f;

// Greens
$greenDark: #264326;
$greenMid: #315331;
$greenLight: #74ae5c;


/* FONTS */
$font: 'Montserrat';
$fontBold: 700;
$fontLight: 300;


/* MISC */
$trans: all 0.3s;




/*

    CSS BY ARTHUR RIGLEY
    OWNER, CREATOR AND DEVELOPER OF BENCHMARK YOUR BET

    1.0 STRUCTURE
    2.0 TEXT
    3.0 MISC

*/

/* 1.0 STRUCTURE */
html, body{
    padding: 0;
    margin: 0;
    font-family: $font;
    font-weight: $fontLight;
    font-size: 13px;
    height: 100%;
//    overflow: hidden;
}
#left{
    position: fixed;
    background-color: $redDark;
    color: $white;
    width: 23%;
    padding: 1%;
    height: 98%;
    
    img{
        display: block;
        width: 100%;
        max-width: 250px;
        margin: auto;
        margin-bottom: 40px;
    }
    #user-greeting{
        text-align: center;
        
        .signButton{
            float: left;
            width: 44%;
            margin: 0 3%;
            transition: $trans;
            -webkit-transition: $trans;
            -moz-transition: $trans;
            
            a{
                display: block;
                padding: 10px 0;
                color: $white;
                border: 2px solid $white;

                &:hover{
                    color: $greenLight;
                    border-color: $greenLight;
                }
            }
        }
    }
    .nav{
        float: left;
        font-size: 0;
        width: 100%;
        padding: 15px 0;
        margin: 30px 0 0;
        text-align: center;
        border-top: 4px solid $redLight;
        border-bottom: 4px solid $redLight;

        li{
            width: 90%;
            float: left;
            font-weight: $fontLight;
            list-style: none;
            display: block;
            font-size: 13px;
            border-bottom: 1px solid $redLight;
            padding: 0 4%;
            text-align: left;
            transition: $trans;
            -webkit-transition: $trans;
            -moz-transition: $trans;
            
            &:hover{
                padding: 0 5%;
                
                a{
                    color: $greenLight;
                }
                i{
                    color: $greenLight;
                }
            }

            a{
                display: block;
                padding: 15px;
                text-decoration: none;
                color: $white;
            }
            i{
                float: left;
                margin-top: 10px;
                margin-right: 20px;
                transition: $trans;
                -webkit-transition: $trans;
                -moz-transition: $trans;
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
}
.header{
    float: left;
    width: 90%;
    padding: 20px 5% 0;
    border-bottom: 1px solid $redLight;

    .title{
        position: relative;
        float: left;
        width: 35%;
    }
    .qTitle{
        position: relative;
        float: left;
        width: 100%;
    }
    .bar{
        position: absolute;
        top: 0;
        left: 20px;
        width: 150px;
        height: 4px;
        background-color: $redLight;
    }
    .headerMessage{
        float: left;
        width: 65%;
        padding-top: 20px;
    }
}
.body{
    float: left;
    width: 100%;
    padding: 20px 0 40px;
    
    .row{
        float: left;
        width: 100%;
    }
    
    .question{
        position: relative;
        float: left;
        width: 25.33%;
        min-height: 200px;
        padding: 2%;
        margin: 2%;
        background-color: $redMid;
        border-top: 3px solid $redLight;
        text-align: center;
        
        h3,p{
            color: $white;
            text-align: center;
        }
        .questionMeta{
            
        }
        .questionText{
            padding: 15px 0;
            margin: 15px 0;
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
        }
    }
    .hasVoted{
        p{
            width: 90%;
            padding: 20px 5%;
            text-align: center;
            margin-bottom: 0px;
        }
        .noVote{
            background-color: $redLight;
            color: $white;
        }
        .yesVote{
            background-color: $greenLight;
            color: $white;
        }
    }
    #options-wrapper{
        float: left;
        width: 100%;
        
        .option{
            position: relative;
            float: left;
            width: 44%;
            padding: 2%;
            margin: 1%;
            margin-bottom: 20px;
            background-color: $redDark;
            
            .optionText{
                float: left;
                width: 80%;
                color: $white;
                margin-top: 0;
            }
            .optionCount{
                float: right;
                color: $white;
                width: 20%;
                margin-top: 0;
            }
            // signify which option user voted for
            .votedFor{
                float: left;
                width: 100%;
                padding: 10px 0;
                background-color: $greenLight;
                color: $white;
                text-align: center;
                
                i{
                    
                }
            }
        }
    }
    #options-info-wrapper{
        float: right;
        width: 100%;
    }
    
}
// button
.voteNow{
    float: left;
    width: 100%;
    padding: 10px 0;
    background-color: $greenLight;
    color: $white;
    text-align: center;

    &:hover{
        background-color: $greenMid;
        color: $white;
    }
}
.vFix{
    height: 50px;
}
.voteTimerBar{
    float: left;
    width: 98%;
    margin: 0 1%;
    background: $greenLight;
    margin-top: 10px;
    p{
        margin: 0;
    }

    .voteTimer{
        float: left;
        width: 94%;
        padding: 0 3%;
        font-size: 26px;
        text-align: center;
        font-weight: $fontBold;
        color: white;
    }
}
#content{
    float: right;
    height: auto;
    width: 71%;
    padding: 0 2%;
}
.column{
    float: left;
    margin-bottom: 20px;
}
.one{
    width: 60%;
    padding: 20px 10%;
    margin: 0 10%;
}
.two{
    width: 42%;
    padding: 20px 2%;
    margin: 2%;
}
.profileSettings{
    float: left;
    width: 100%;
}
#alerts-wrapper{
    width: 110%;
    margin-left: -5%;
    text-align: center;

    .notice{
        width: 100%;
        background-color: $greenLight;
        color: $white;
    }
    .alert{
        width: 100%;
        background-color: $redLight;
        color: $white;
    }
}
.redButton{
    float: left;
    width: 80%;
    font-size: 16px;
    border: 2px solid $redLight;
    margin: 30px 5% 0;
    padding: 5px 5%;
    color: $redLight!important;

    &:hover{
        background-color: $redLight;
        color: $white!important;
    }
}
.greenButton{
    float: left;
    width: 80%;
    margin: 30px 10%;
    padding: 10px 0;
    font-size: 16px;
    background-color: $white;
    border: 2px solid $greenLight;
    color: $greenLight;
    transition: $trans;
    -webkit-transition: $trans;
    -moz-transition: $trans;

    &:hover{
        background-color: $greenLight;
        color: $white;
    }
}
.field{
    margin-top: 25px;
    text-align: center;

    input,textarea{
        background-color: $white;
        color: $redLight;
        text-align: center;
        width: 70%;
        padding: 10px 5%;
        border: 2px solid $lightGrey;
        cursor: pointer;
        outline: none;
        margin-top: 5px;
        transition: $trans;
        -webkit-transition: $trans;
        -moz-transition: $trans;

        &:hover{
            border-color: $greenLight;
            color: $greenLight;
        }
        &:focus{
            border-color: $greenLight;
            color: $greenLight;
        }
    }
    input[type='checkbox']{
        width: 10px!important;
    }
}
/* 2.0 TEXT */
h1,h2,h3,h4,p{
    
}
h1{
    padding-top: 20px;
    font-size: 42px;
    font: $font;
    font-weight: $fontBold;
}
h2{
    font-size: 16px;
    font: $font;
    font-weight: $fontLight;
    line-height: 1.5;
}
h3{
    font-size: 20px;
    font: $font;
    font-weight: $fontBold;
    text-align: center;
}
p{
    font-size: 14px;
    font-weight: $fontLight;
    line-height: 1.5;
}
a{
    color: white;
    transition: $trans;
    -webkit-transition: $trans;
    -moz-transition: $trans;
    text-decoration: none;

    &:visited {
    color: white;
    }

    &:hover {
    color: $greenLight;
    }
}

/* 3.0 MISC */
.linkWhite{
    color: $redLight!important;
    transition: $trans;
    -webkit-transition: $trans;
    -moz-transition: $trans;
    
    &:hover{
        color: $greenLight!important;
    }
}
.linkGreen{
    color: $white;
    &:hover{
        color: $redLight;
    }
}
.textCenter{
    text-align: center;
}
.vaM{
    vertical-align: middle;
}
// Pre scaffold stuff?
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inherit;
}

#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

// admin
#admin-panel{
    float: left;
    width: 90%;
    background: #00acd0;
    padding: 10px 5%;
    margin: 50px 0;
    clear: both;
    
    a{
        color: white;
        
    }
}
.adminButtons{
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background-color: #00acd0;
    text-align: center;
}