/* COLOURS */
/* FONTS */
/* MEDIA QUERIES */
/* MISC */
/*

    CSS BY ARTHUR RIGLEY
    OWNER, CREATOR AND DEVELOPER OF BENCHMARK YOUR BET

    1.0 STRUCTURE
    2.0 TEXT
    3.0 MISC

*/
/* 1.0 STRUCTURE */
/* line 51, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
html, body {
  padding: 0;
  margin: 0;
  font-family: "montserratlight";
  font-family: 300;
  font-size: 13px;
  height: 100%; }

/* line 60, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
#home-page-img {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40%; }

/* line 66, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
#left {
  position: fixed;
  background-color: #4d2128;
  color: #ffffff;
  width: 23%;
  padding: 1%;
  height: 98%; }
  /* line 74, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #left #nav-trigger {
    display: none;
    float: right;
    margin-top: 20px; }
  /* line 79, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #left img {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: auto;
    margin-bottom: 20px; }
  /* line 86, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #left #user-greeting {
    text-align: center; }
  /* line 89, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #left .nav {
    float: left;
    font-size: 0;
    width: 100%;
    padding: 15px 0;
    margin: 30px 0 0;
    text-align: center;
    border-top: 4px solid #98353f;
    border-bottom: 4px solid #98353f; }
    /* line 99, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    #left .nav li {
      width: 90%;
      float: left;
      font-family: "montserratlight";
      list-style: none;
      display: block;
      font-size: 13px;
      border-bottom: 1px solid #98353f;
      padding: 0 4%;
      text-align: left;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s; }
      /* line 113, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      #left .nav li:hover {
        padding: 0 5%; }
        /* line 116, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
        #left .nav li:hover a {
          color: #74ae5c; }
        /* line 119, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
        #left .nav li:hover i {
          color: #74ae5c; }
      /* line 124, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      #left .nav li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #ffffff; }
      /* line 130, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      #left .nav li i {
        display: block;
        float: left;
        margin-top: 10px;
        margin-right: 20px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s; }
      /* line 139, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      #left .nav li:last-child {
        border-bottom: none; }

/* line 145, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.header {
  float: left;
  width: 90%;
  padding: 20px 5%;
  border-bottom: 1px solid #98353f; }
  /* line 151, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .header .title {
    position: relative;
    float: left;
    width: 35%; }
  /* line 156, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .header .qTitle {
    position: relative;
    float: left;
    width: 100%; }
  /* line 161, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .header .bar {
    position: absolute;
    top: 0;
    left: 20px;
    width: 150px;
    height: 4px;
    background-color: #98353f; }
  /* line 169, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .header .headerMessage {
    float: left;
    width: 65%;
    padding-top: 20px; }

/* line 176, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.row {
  float: left;
  width: 100%; }

/* line 180, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.body {
  float: left;
  width: 100%;
  padding: 20px 0 40px; }
  /* line 185, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .body .question {
    position: relative;
    float: left;
    width: 27.33%;
    padding: 2%;
    margin: 1% 1% 20px;
    background-color: #612e33;
    border-top: 3px solid #98353f;
    text-align: center; }
    /* line 195, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    .body .question h3, .body .question p {
      color: #ffffff;
      text-align: center; }
    /* line 202, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    .body .question .questionText {
      padding: 15px 0;
      margin: 15px 0;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff; }
  /* line 209, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .body #category-wrapper {
    float: left;
    width: 80%;
    font-size: 0;
    margin: 10px 10% 40px;
    padding: 0; }
    /* line 216, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    .body #category-wrapper li {
      display: inline-block;
      list-style: none;
      font-size: 16px;
      width: 20%;
      text-align: center;
      background-color: #98353f;
      color: white;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      cursor: pointer; }
      /* line 229, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      .body #category-wrapper li:hover {
        background-color: #74ae5c; }
      /* line 232, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      .body #category-wrapper li a {
        float: left;
        text-decoration: none;
        color: white;
        width: 100%;
        padding: 10px 0; }
        /* line 239, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
        .body #category-wrapper li a:hover {
          color: white; }
  /* line 247, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .body .hasVoted p {
    width: 90%;
    padding: 20px 5%;
    text-align: center;
    margin-bottom: 20px; }
  /* line 253, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .body .hasVoted .noVote {
    background-color: #98353f;
    color: #ffffff; }
  /* line 257, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .body .hasVoted .yesVote {
    background-color: #74ae5c;
    color: #ffffff; }
  /* line 262, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .body #options-wrapper {
    float: left;
    width: 50%; }
    /* line 266, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    .body #options-wrapper .option {
      position: relative;
      float: left;
      width: 44%;
      padding: 2%;
      margin: 1%;
      margin-bottom: 20px;
      background-color: #4d2128; }
      /* line 275, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      .body #options-wrapper .option .optionText {
        float: left;
        width: 55%;
        color: #ffffff;
        margin-top: 0; }
      /* line 281, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      .body #options-wrapper .option .optionCount {
        float: right;
        color: #ffffff;
        width: 45%;
        margin-top: 0; }
  /* line 289, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .body #options-info-wrapper {
    float: right;
    width: 42%;
    padding: 0 3% 20px;
    margin-top: 0.5%;
    background-color: #612e33;
    max-height: 300px;
    overflow-y: scroll; }
    /* line 298, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    .body #options-info-wrapper .messageWrap {
      float: left;
      width: 94%;
      padding: 3%;
      color: white;
      border-bottom: 1px solid #ffffff; }
      /* line 305, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      .body #options-info-wrapper .messageWrap .messageEmail {
        margin-bottom: 0; }
      /* line 308, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      .body #options-info-wrapper .messageWrap .messageContent {
        margin-top: 0;
        margin-left: 20px; }
    /* line 313, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    .body #options-info-wrapper textarea {
      width: 96%;
      padding: 2%;
      min-height: 100px;
      outline: none;
      border: none; }

/* line 324, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.votedFor {
  float: left;
  width: 100%;
  padding: 10px 0;
  background-color: #264326;
  color: #ffffff;
  text-align: center; }

/* line 338, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.voteNow {
  float: left;
  width: 100%;
  padding: 10px 0;
  background-color: #74ae5c;
  color: #ffffff;
  text-align: center;
  text-decoration: none; }
  /* line 347, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .voteNow:hover {
    background-color: #315331;
    color: #ffffff; }

/* line 352, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.fifper {
  width: 50%; }

/* line 355, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.vFix {
  height: 50px; }

/* line 358, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
#content {
  float: right;
  height: auto;
  width: 71%;
  padding: 0 2%; }

/* line 364, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.column {
  float: left;
  margin-bottom: 20px; }

/* line 368, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.one {
  width: 60%;
  padding: 20px 10%;
  margin: 0 10%; }

/* line 373, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.two {
  width: 42%;
  padding: 20px 2%;
  margin: 2%; }

/* line 378, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.five {
  background-color: #00acd0;
  width: 19%;
  padding: 0;
  margin: 0.5%; }

/* line 384, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.profileSettings {
  float: left;
  width: 100%; }

/* line 388, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
#alerts-wrapper {
  width: 110%;
  margin-left: -5%;
  text-align: center; }
  /* line 393, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #alerts-wrapper .notice {
    width: 100%;
    background-color: #74ae5c;
    color: #ffffff; }
  /* line 398, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #alerts-wrapper .alert {
    width: 100%;
    background-color: #98353f;
    color: #ffffff; }

/* line 404, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.redButton {
  float: left;
  width: 80%;
  font-size: 16px;
  border: 2px solid #98353f;
  margin: 30px 5% 0;
  padding: 5px 5%;
  color: #98353f !important; }
  /* line 413, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .redButton:hover {
    background-color: #98353f;
    color: #ffffff !important; }

/* line 418, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.greenButton {
  float: left;
  width: 80%;
  margin: 30px 10%;
  padding: 10px 0;
  font-size: 16px;
  background-color: #ffffff;
  border: 2px solid #74ae5c;
  color: #74ae5c;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s; }
  /* line 431, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .greenButton:hover {
    background-color: #74ae5c;
    color: #ffffff; }

/* line 436, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.field {
  margin-top: 25px;
  text-align: center; }
  /* line 440, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .field input, .field textarea {
    background-color: #ffffff;
    color: #98353f;
    text-align: center;
    width: 70%;
    padding: 10px 5%;
    border: 2px solid #e9ded7;
    cursor: pointer;
    outline: none;
    margin-top: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s; }
    /* line 454, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    .field input:hover, .field textarea:hover {
      border-color: #74ae5c;
      color: #74ae5c; }
    /* line 458, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    .field input:focus, .field textarea:focus {
      border-color: #74ae5c;
      color: #74ae5c; }
  /* line 463, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .field input[type='checkbox'] {
    width: 10px !important; }

/* 2.0 TEXT */
/* line 471, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
h1 {
  padding-top: 20px;
  font-size: 40px;
  font-family: "montserratbold";
  font-weight: 700; }

/* line 477, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
h2 {
  font-size: 16px;
  font-family: "montserratlight";
  font-weight: 300;
  line-height: 1.5; }

/* line 483, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
h3 {
  font-size: 20px;
  font-family: "montserratbold";
  font-weight: 700;
  text-align: center; }

/* line 489, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
p {
  font-size: 14px;
  font-family: "montserratlight";
  font-weight: 300;
  line-height: 1.5; }

/* line 495, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
a {
  color: white;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  text-decoration: underline; }
  /* line 502, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  a:visited {
    color: white; }
  /* line 506, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  a:hover {
    color: #74ae5c; }

/* 3.0 MEDIA QUERIES */
@media (max-width: 1060px) {
  /* line 513, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #left {
    position: static;
    float: left;
    width: 80%;
    padding: 10px 10%;
    height: auto; }
    /* line 520, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    #left img {
      float: left;
      max-width: 20%;
      margin: 0; }
    /* line 525, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    #left .headerWrap {
      float: right;
      width: 70%; }
    /* line 529, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    #left #user-greeting {
      float: right;
      width: 100%;
      text-align: right; }
    /* line 534, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    #left .nav {
      float: right;
      clear: both;
      width: 100%;
      border: none;
      margin: 0; }
      /* line 541, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
      #left .nav li {
        float: none;
        display: inline-block;
        text-align: center;
        padding: 0;
        width: auto;
        border: none;
        padding: 5px 10px; }
        /* line 550, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
        #left .nav li i {
          float: none;
          margin: 0 auto 5px; }
        /* line 554, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
        #left .nav li a {
          padding: 0; }
        /* line 558, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
        #left .nav li:hover {
          padding: 0 10px; }
  /* line 564, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #content {
    float: left;
    width: 90%;
    padding: 0 5%; } }

@media (max-width: 768px) {
  /* line 571, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .title {
    width: 100% !important;
    margin-bottom: 0; }
  /* line 575, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .headerMessage {
    width: 100% !important; }
  /* line 578, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  h1 {
    font-size: 34px; }
  /* line 581, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .option {
    width: 96% !important;
    margin: 0 !important;
    margin-bottom: 20px !important; } }

@media (max-width: 667px) {
  /* line 588, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #left {
    width: 90%;
    padding: 10px 5%; }
  /* line 592, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .question {
    width: 90% !important;
    margin: 0 !important;
    padding: 0 5% 5% !important;
    margin-bottom: 20px !important; }
  /* line 598, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .one {
    width: 90%;
    padding: 20px 5%;
    margin: 0%; }
  /* line 603, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .two {
    width: 90%;
    padding: 20px 5%;
    margin: 0%; }
  /* line 608, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #home-page-img {
    position: relative;
    float: left;
    width: 100%;
    max-width: 70%;
    margin-left: 15%;
    margin-bottom: -100px; } }

@media (max-width: 800px) {
  /* line 618, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #nav-trigger {
    display: block !important;
    cursor: pointer; }
  /* line 622, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999999999;
    background: #98353f !important; }
    /* line 632, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    .nav #nav-back {
      display: block;
      position: fixed;
      top: 10px;
      right: 10px;
      cursor: pointer;
      z-index: 9999999999;
      font-size: 14px; }
    /* line 642, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    .nav li {
      display: block;
      padding: 0 !important;
      margin: 0 0 20px 0 !important;
      width: 100% !important; } }

@media (max-width: 480px) {
  /* line 651, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #left {
    text-align: center; }
    /* line 654, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    #left #nav-trigger {
      float: none; }
    /* line 657, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    #left img {
      max-width: 40%;
      margin: 0 30%; }
    /* line 661, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    #left #user-greeting {
      width: 100%;
      text-align: center; }
    /* line 665, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
    #left .headerWrap {
      width: 100%; }
  /* line 669, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #options-wrapper, #options-info-wrapper {
    width: 100% !important; } }

/* 4.0 MISC */
/* line 674, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.textBold {
  font-family: "montserratbold"; }

/* line 677, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.textWhite {
  color: #ffffff; }

/* line 680, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.linkWhite {
  color: #98353f !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s; }
  /* line 686, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .linkWhite:hover {
    color: #74ae5c !important; }

/* line 690, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.linkGreen {
  color: #ffffff; }
  /* line 692, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  .linkGreen:hover {
    color: #98353f; }

/* line 696, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.textCenter {
  text-align: center; }

/* line 699, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.vaM {
  vertical-align: middle; }

/* line 704, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px; }

/* line 709, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green; }

/* line 713, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inherit; }

/* line 719, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  /* line 726, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  /* line 737, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }

/* line 744, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
#admin-panel {
  float: left;
  width: 90%;
  background: #00acd0;
  padding: 10px 5%;
  margin: 50px 0;
  clear: both; }
  /* line 752, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
  #admin-panel a {
    color: white; }

/* line 757, /Users/arthurrigley/Documents/Projects/ruby-on-rails/bet/app/assets/stylesheets/scaffolds.scss */
.adminButtons {
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  padding: 5px 0;
  background-color: #00acd0;
  text-align: center; }

/*# sourceMappingURL=scaffolds.css.map */